@import url('styles.css');

.site-container {
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

h2 {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

nav .logo {
    width: 120px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

ul li {
    margin-right: 10px;
}

ul li a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    transform: translateX(-50%) translateY(-5px);
    height: 3px;
    background: #ffa400;
    transition: 0.3s;
}

ul li a:hover::after {
    width: 38%;
}

.skills-section {
    color: #ffffff;
    text-align: justify;
    padding: 20px;
    font-size: 16px;
    line-height: 1.8;
}

.manga-container {
    text-align: center;
    margin-bottom: 20px;
}

.manga-photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.manga-photos img {
    width: 20%;
    margin-bottom: 10px;
    border: 4px solid #000;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.manga-photos img:hover {
    transform: scale(1.1);
}

.skills-description {
    text-align: justify;
    margin-top: 20px;
}

.skills-description p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.instagram-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
    transition: 0.3s;
}

.instagram-button:hover {
    background-color: #000;
    color: #fff;
}

.text-background {
    position: relative;
    color: #ffffff; 
    text-align: center;
    padding: 50px;
    font-size: 24px;
    overflow: hidden;
}

.text-background::before {
    content: "ÉCRITURE EN ARRIÈRE-PLAN"; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px; 
    color: rgba(255, 255, 255, 0.1); 
    z-index: -1; 
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 5px; 
    font-weight: bold;
}
