
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Tw Cen MT', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}


.container {
    padding: 5% 8%;
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 8%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



nav .cart {
	width: 40px;
	cursor: pointer;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	padding-right: 40px;
	text-align: right;
	list-style-type: none;
}

ul li {
	margin-right: 10px;
}

ul li a {
	position: relative;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	transform: translateX(-50%) translateY(-5px);
	height: 3px;
	background: #ffa400;
	transition: 0.3s;
}

ul li a:hover::after {
	width: 38%;
}

body {
    padding-top: 70px;
}


header {
    text-align: center;
    margin-top: 120px; 
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}


.testimonial {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.testimonial h3 {
    font-size: 24px;
    color: #ffa400;
    font-weight: bold;
    margin-bottom: 15px;
}

.testimonial p {
    font-size: 16px;
    line-height: 1.6;
}

.testimonial p strong {
    font-size: 18px;
    color: #ffa400;
}


footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #333;
    color: white;
}


.social-icons {
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.social-icons a {
    padding: 5px;
    margin-right: 4px;
}


@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }


    .testimonial {
        padding: 20px;
    }

    header h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .testimonial {
        padding: 15px;
    }

    header h1 {
        font-size: 24px;
    }
}
